body{
	font-family: 'Roboto', sans-serif;
}

.custom-button {
    height: 70px;
    width: 350px;
    margin: 20px 0;
}
.custom-button .name {
    font-size: 18px;
    border-bottom: 1px solid white;
}
.custom-button span {
    display: inline-block;
    position: absolute;
    left: 10px;
}
.custom-button .description {
    font-size: 15px;
    font-weight: 200;
    bottom: 10px;
}
.main .no-padding img {
    padding-left: 0;
}
.custom-button img {
    position: relative;
    top: -31px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 5px !important;
    border: 1px solid black;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(#34b0e8));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #34b0e8 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #34b0e8 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #34b0e8 100%);
}
.purches-button{
    margin-bottom: 150px;
}


a, a:hover{
	text-decoration: none;
}
header{
	padding: 30px 0;
    height: 100%;
    position: relative;
    background: url(../img/header-fon.jpg) no-repeat bottom fixed;
    background-size: cover;
    align-items: center;
}
header:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}


.loader{
    display:block;
    width: 5em;
    margin: 0 auto;
    position: absolute;
    right: 102px;
    top: 33px;
}

@-webkit-keyframes rotate{
0%{
-webkit-transform: translateY(0%);
}
30%{
-webkit-transform: translateY(-0.25em);
}
50%{
-webkit-transform: translateY(0%);
}
70%{
-webkit-transform: translateY(0.25em);
}

}

.one-message{
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid red;
    border-radius: 50%;
    text-align: center;
    background-color: white;
    padding-bottom: 2px;
}
.message-count{
    position: relative;
    top: -3px;
}
.add-comm{
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    padding: 15px;
}

.loader {
   display: block;
}

.inner1, .inner2, .inner3{
display: inline-block;

margin: 0.125em;
width: 0.3em;
height:0.3em;

border:1px solid black;
border-radius: 1em;
background-color: black;

-webkit-transform-origin: 50%;
-webkit-animation-duration: 0.75s;
-webkit-animation-name: rotate;
-webkit-animation-iteration-count: infinite;
-webkit-animation-timing-function: linear;
}

.inner2{
-webkit-animation-delay: 0.2s;
}

.inner3{
-webkit-animation-delay: 0.5s;
}






#chat-content-box1{
	position: absolute;
    width: 100%;
    height: 100%;
}


.header-logo{
    width: 240px;
    height: 240px;
    border-radius: 150px;
    border: 8px solid #fff;
    box-shadow: 0 5px 15px #000;
    overflow: hidden;
    box-sizing: border-box;
}
.header-logo img{
	width: auto;
    height: 100%;
}
.header-caption-top h1{
	text-transform: uppercase;
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    color: #fff;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}
.header-caption-top hr{
	width: calc(100% - 85px);
	background: #fff;
}
.header-caption-bottom{
	text-align: center;
	color: #fff;
}
.header-caption-bottom h2.number{
	font-weight: normal;
    font-size: 42px;
	margin-bottom: 0;
}
.header-caption-bottom h2.readers{
	font-weight: normal;
    font-size: 28px;
}
.header-caption-bottom .search input{
	padding: 11px 23px;
    border: 1px solid #fff;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.2);
    outline: none;
    color: #fff;
	margin-top: 15px;
}
.header-caption-bottom .search input::-webkit-input-placeholder {
  color: #fff;
}
.header-caption-bottom .search input::-moz-placeholder {
  color: #fff;
}
.header-caption-bottom .search input:-ms-input-placeholder {
  color: #fff;
}
.header-caption-bottom .search input:-moz-placeholder {
  color: #fff;
}
.headings .he {
    display: inline-block;
    margin-right: 15px;
}
.headings .he img{
	width: 50px;
    height: 50px;
	display: block;
    margin: 0 auto;
}
.header-caption-block2{
	margin-top: 13px;
}
.headings .he a{
    padding-top: 5px;
    font-weight: 500;
    color: #fff;
}
.social .site-icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-size: cover;
    display: inline-block;
    margin: 21px 5px;
}
.site-icon.vk {
    background-image: url(../img/vk.png);
}
.site-icon.fb{
	background-image: url(../img/fb.png);
}
.site-icon.tw{
	background-image: url(../img/tw.png);
}
.blog-info .block-bredcrumbs{
	float: left;
}
.blog-info .block-data{
	float: right;
}
.post h1{
    clear: both;
    margin: 35px 0 20px 0;
    font-size: 36px;
    color: #000;
    font-weight: 600;
	text-transform: uppercase;
}
.post h2{
    margin: 35px 0 20px 0;
    font-size: 28px;
    color: #000;
    font-weight: 600;
	text-transform: uppercase;
}
.post img.post-main-img{
	width: 100%;
    height: auto;
	    margin-bottom: 20px;
}
.post p{
	text-align: justify;
    line-height: 1.5;
    color: #444;
}
.post a{
	color: #644c92;
	    padding: 10px 0 30px 0;
    display: block;
}
.blog-info .block-bredcrumbs a{
	    color: #444;
}
.block-bredcrumbs p, .block-data p{
	color: #000;
	font-size: 12px;
}
.post a:hover{
        text-decoration: underline;
}
.blog-comment__header{
	    display: flex;
    align-items: center;
    background-color: #44ae4c;
    padding: 10px 15px 0 15px;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-weight: normal;
}
.blog-comment__header i{
	    font-size: 44px;
    margin-right: 15px;
	    padding-bottom: 13px;
}
.blog-comment__header h2{
	margin-bottom: 0;
	    font-size: 30px;
}
.blog-comment__header p{
	    width: 25px;
    border-radius: 50%;
    background: #e00606;
    height: 24px;
    text-align: center;
    padding: 1px;
}
.comment-item{
	    padding-bottom: 25px;
}
.comment-items-block{
	padding: 20px;
    text-align: justify;
    background: #f5f5f5;
	margin-bottom: 40px;
}
.comment-user-img{
	width: 50px;
    height: 50px;
    margin-right: 8px;
    border-radius: 100px;
    overflow: hidden;
	    float: left;
}
.comment-user-img img{
	width: 100%;
    height: auto;
}
.comment-user-name p{
	    font-size: 16px;
    margin: 0;
    font-weight: 600;
}
.comment-user-name p span{
    font-weight: 100;
	color: #999;
}
.comment-text{
	    clear: both;
    padding-top: 10px;
}
.write-comment input, .write-comment textarea{
    width: 420px;
    border: 1px solid #d8d8d8;
    padding: 7px 10px;
    font-size: 14px;
    outline: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    display: block;
    margin-bottom: 15px;
}
.write-comment button{
	width: 206px;
    outline: none;
    font-family: 'Roboto';
    font-weight: 700;
    background: green;
    color: #fff;
    padding: 9px 10px 7px;
    text-transform: uppercase;
    font-size: 14px;
    border: 2px solid green;
	cursor: pointer;
}
.write-comment button:hover{
	    color: #333;
		background: transparent;
}
.sidebar-menu{
	    margin-top: 32px;
}
.sidebar-menu ul, .sidebar-posts ul{
	list-style: none;
	padding: 0;
}
.sidebar-menu ul li a, .sidebar-posts ul li a{
	    font-size: 16px;
    border-bottom: 1px dotted #d5d5d5;
    padding: 8px 0;
    transition: all 500ms;
	    display: block;
		color: #333;
}
.sidebar-menu ul li a:hover, .sidebar-posts ul li a:hover{
	    transition: all 500ms;
    padding: 8px 5px;
}
.sidebar-blocks-title{
	margin:40px 0 15px 0;
    font-weight: 600;
    font-size: 18px;
    border-bottom: 2px solid #4cb975;
}
.sidebar-blocks-title p{
	    margin-bottom: 5px;
}
.chat-icon{
	    width: 70px;
    height: 70px;
    position: fixed;
    right: 15px;
    bottom: 80px;
}
.chat-icon img{
	    width: 70px;
    height: 70px;
}
.chat-icon:hover{
	    transform: scale(1.05, 1.05);
    transition: all 500ms;
    cursor: pointer;
}
.chat-content{
	display: none;
	position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.chat-content-window{
    position: absolute;
    right: 0;
    top:30%;
    background-color: #fff;
    box-shadow: 0 0 5px grey;
    width: 320px;
    height: 70%;
    text-align: center;
    transition: bottom 500ms;
    border-radius: 10px 10px 0 0;
    cursor: default;
    display: flex;
    flex-direction: column;
}
.window-top-image{
	border-radius: 50%;
	width: 50px;
    height: 50px;
	overflow: hidden;
	float: left;
}
.window-close {
	float:right;
}
.window-top-text{
    float: left;
    text-align: left;
    padding: 6px 0 0 10px;
    align-items: center;
}
.window-top-text p{
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.3;
}
.window-top{
    background-color: #5599dd;
    padding: 10px 15px;
	    color: #fff;
}
.window-top-image img{
    width: auto;
    height: 100%;
}
.window-center{
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
	    padding-top: 15px;
}
.window-close i{
	    font-size: 21px;
		cursor: pointer;
}
.chat__comment{
	    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 6px 8px 0;
    animation: appear 1s linear;
}
.chat__comment.bot .content {
    background-color: #00e54d;
    color: #fff;
    text-align: left;
}
.chat__comment.bot{
	    align-items: flex-start;
}
.chat__comment .message-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 6px;
    font-size: 13px;
}
.chat__comment .message-info p {
    margin: 0 5px 0 0;
}
.chat__comment .content {
    padding: 8px;
    border-radius: 8px;
    width: 60%;
    font-size: 14px;
    background-color: #e6e5eb;
    text-align: right;
}
.window-bottom textarea{
	    width: 100%;
    border: 1px solid #d8d8d8;
    padding: 7px 10px;
    font-size: 14px;
    outline: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.window-bottom{
	    height: 80px;
    display: flex;
    align-items: center;
    margin: 30px 10px 20px 10px;
    transition: opacity 1s;
}
.window-bottom i{
	    cursor: pointer;
    margin: 0 0 0 7px;
    border-radius: 50%;
    background-color: #5599dd;
    padding: 12px 14px 6px 9px;
    font-size: 24px;
    color: #fff;
    text-align: center;
    width: 48px;
    height: 48px;
}


footer {
    padding: 15px 0;
    color: #fff;
    max-width: 100%;
	background-color: #1d212d;
}
.blog-info{
	    margin-top: 40px;
}

@media only screen and (max-width: 991px) {
		.write-comment input, .write-comment textarea {
		width: 100%;
	}
		.blog-comment__header h2 {
		font-size: 28px;
	}
	.headings .he{
		margin-right: 2px;
	}
	.header-caption-block2{
		padding: 0;
	}
	.header-caption-top hr {
		width: calc(100% - 160px);
	}
}

@media only screen and (max-width: 768px) {
	footer{
		text-align: center;
		margin-top: 25px;
	}
	.header-logo {
		margin: 0 auto 15px;
		width: 200px;
		height: 200px;
	}
	header {
		padding: 15px 0;
	}
	.header-caption-top h1{
		    font-size: 23px;
			    line-height: 1.3;
	}
	.header-caption-top hr {
		width: calc(100% - 210px);
	}
}
@media only screen and (max-width: 575px) {
	.header-caption-block2 {
		margin-top: 0;
	}
	.header-caption-bottom h2.number {
		font-size: 32px;
	}
	.header-caption-bottom h2.readers {
		font-size: 22px;
	}
	.header-caption-top hr {
		width: calc(100% - 173px);
	}
	.header-logo {
		width: 150px;
		height: 150px;
		border: 4px solid #fff;
	}
	.header-caption-top hr {
		margin: 5px auto;
	}
	.header-caption-bottom .search input{
		    margin-top: 5px;
	}
	.social .site-icon{
		    margin: 12px 5px 0 5px;
	}
	header {
		padding: 15px 0 10px 0;
	}
	.blog-comment__header h2 {
		font-size: 18px;
	}
	.blog-comment__header i {
		font-size: 28px;
		margin-right: 10px;
	}
	.header-caption-block1, .headings{
		display: none;
	}
}

.hidden {
    display: none;
}

